@use 'src/styles.scss' as *;

.full-width {
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px); // Adjust this value based on your header and footer heights
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: lighten($background-color, 5%);
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  // @include respond-above(sm) {
  //   padding: 30px;
  // }
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  
  button {
    margin-bottom: 10px;
    flex-grow: 1;
    margin-right: 10px;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 600px) {
  .login-card {
    max-width: 90%;
  }
}
