<div class="login-container">
  <app-loader
    loaderId="login-loader"
    text="Logging in..."
  ></app-loader>

  <mat-card class="login-card">
    <mat-card-header>
      <div class="logo-container">
        <!-- <img src="assets/shared/register1.png" alt="Logo" class="logo"> -->
      </div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="loginFormSubmit()" #loginForm="ngForm" class="full-width">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="loginData.username" name="username" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="loginData.password" name="password" [type]="hidePassword ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
          <button mat-button color="warn" type="reset">Reset</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
