:host {
  display: block;
  width: 100%;
  max-width: 400px;
}

mat-dialog-content {
  padding-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

textarea {
  min-height: 100px;
}

mat-dialog-actions {
  padding-top: 20px;
}
