<h2 mat-dialog-title>Create Follow-up</h2>
<mat-dialog-content>
  <form [formGroup]="followUpForm" (ngSubmit)="onSubmit()">
    <!-- <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="follow_up_status">
        <mat-option *ngFor="let option of statusOptions" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->


    <mat-form-field appearance="fill">
      <mat-label>Next Action Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="next_action_date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Next Action Time</mat-label>
      <input matInput type="time" formControlName="next_action_time" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!followUpForm.valid">Create</button>
</mat-dialog-actions>
